.main-section-banner {
    background-image: url("https://m.media-amazon.com/images/G/01/AdProductsWebsite/images/AUX/ILB_BrightColors_Approved._TTW_.jpg");
    background-position: center;
    background-size: cover;
}

